Assignment10Ques/Service References/ServiceReference2/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceAPI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceAPI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmpBo1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpBo1" nillable="true" type="tns:EmpBo1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpBo1" nillable="true" type="tns:ArrayOfEmpBo1" />
  <xs:complexType name="EmpBo1">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpBo1" nillable="true" type="tns:EmpBo1" />
  <xs:complexType name="ExecClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExecClass" nillable="true" type="tns:ExecClass" />
</xs:schema>