Assignment10Ques/Service References/ServiceReference2/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmployeeBO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmployeeBO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmpBO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpBO" nillable="true" type="tns:EmpBO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpBO" nillable="true" type="tns:ArrayOfEmpBO" />
  <xs:complexType name="EmpBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="JoiningDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salary" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpBO" nillable="true" type="tns:EmpBO" />
</xs:schema>