Assignment10Ques/Service References/ServiceReference2/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56654/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmployeeBO" />
  <xs:import schemaLocation="http://localhost:56654/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfServiceAPI" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EmployeeBO" minOccurs="0" name="GetDataResult" nillable="true" type="q1:ArrayOfEmpBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataJson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EmployeeBO" minOccurs="0" name="GetDataJsonResult" nillable="true" type="q2:ArrayOfEmpBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataCont">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DataContResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceAPI" minOccurs="0" name="DataContResult" nillable="true" type="q3:ArrayOfEmpBo1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataCont1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DataCont1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataCont1Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FaultCont">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FaultContResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FaultContResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Method1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="param1" type="xs:int" />
        <xs:element minOccurs="0" name="param2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Method1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Method1Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Method2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="param1" type="xs:int" />
        <xs:element minOccurs="0" name="param2" type="xs:int" />
        <xs:element minOccurs="0" name="param3" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Method2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Method2Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>